In [64]:
import pandas as pd
import numpy as np
import math
epsilon = 0.000000001

In [24]:
dataset = pd.read_excel("slides.xlsx")

In [25]:
dataset

     ex  Alt  Bar  Fri  Hun   Pat Price Rain  Res     Type        Est  Goal
0    x1  Yes   No   No  Yes  Some   $$$   No  Yes   French   "0 - 10"     1
1    x2  Yes   No   No  Yes  Full     $   No   No     Thai  "30 - 60"     0
2    x3   No  Yes   No   No  Some     $   No   No   Burger   "0 - 10"     1
3    x4  Yes   No  Yes  Yes  Full     $  Yes   No     Thai  "10 - 30"     1
4    x5  Yes   No  Yes   No  Full   $$$   No  Yes   French     "> 60"     0
5    x6   No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   "0 - 10"     1
6    x7   No  Yes   No   No  None     $  Yes   No   Burger   "0 - 10"     0
7    x8   No   No   No  Yes  Some    $$  Yes  Yes     Thai   "0 - 10"     1
8    x9   No  Yes  Yes   No  Full     $  Yes   No   Burger     "> 60"     0
9   x10  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  "10 - 30"     0
10  x11   No   No   No   No  None     $   No   No     Thai   "0 - 10"     0
11  x12  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  "30 - 60"     1

In [26]:
class node ():
    def __init__(self, gainInfo = None , value  = None, feature = None , right = None , left = None , type = None) :
        self.right = right
        self.left = left
        self.feature = feature
        self.type = type
        self.geinInfo = gainInfo
        self.value = value

In [27]:
class DecisionTree():
    def __init__(self):
        self.root = None
    def build (example , features , parent_examples):
        pass

In [28]:
def MakeUnique(dataFrame , columnName):
    #print(dataFrame[columnName])
    PossibleValues = pd.unique(dataFrame[columnName])
    #print(PossibleValues)
    indexed = {}
    for count , value in enumerate(PossibleValues):
        indexed[value] = count
    for i in range(len( dataFrame[columnName])):
        dataFrame.loc[i , columnName] =  indexed[dataFrame[columnName][i]]

In [29]:
def MakeUniqueInt (dataFrame , columnName):
    maxvalue = np.max(dataFrame[columnName])
    minvalue = np.min(dataFrame[columnName])
    lenghtEachSlice = (maxvalue - minvalue + 1 ) / len(dataFrame[columnName])
    indexed = {}
    for count , value in enumerate( range(len(dataFrame[columnName] / lenghtEachSlice)) ):
        indexed[(value * lenghtEachSlice + minvalue , (value + 1) * lenghtEachSlice + minvalue)] = count
    for i in range(len(dataFrame[columnName])):
        temp = dataFrame.loc[i , columnName]
        flag = False
        for j in indexed :
            if temp >= j[0] and  temp < j[1]:
                flag = True
                dataFrame.loc[i , columnName] = indexed[j]
        if flag == False:
            if temp < indexed[0][0] :
                dataFrame.loc[i , columnName] = -1
            else:
                dataFrame.loc[i , columnName] = len(indexed) + 1

In [30]:
def plurality_value(example):
    counter = 0
    for i in range(len(example)) :
        if example.iloc[i , -1] == 1 :
            counter = counter + 1
    if counter >= example.shape[0] / 2:
        return 1 , counter
    return 0 , counter

In [80]:
def entropy (example):
    temp , amount = plurality_value(example)
    probability = amount / example.shape[0]
    if probability == 0 :
        return -1 * ( probability * math.log2(probability + epsilon) + (1 - probability) * math.log2(1 - probability))
    if probability == 1 :
        return -1 * ( probability * math.log2(probability) + (1 - probability) * math.log2(1 - probability + epsilon))
    return -1 * ( probability * math.log2(probability) + (1 - probability) * math.log2(1 - probability))

test the MakeUnique

In [42]:
MakeUnique(dataset , "Type")

In [43]:
dataset

     ex  Alt  Bar  Fri  Hun   Pat Price Rain  Res Type        Est  Goal
0    x1  Yes   No   No  Yes  Some   $$$   No  Yes    0   "0 - 10"     1
1    x2  Yes   No   No  Yes  Full     $   No   No    1  "30 - 60"     0
2    x3   No  Yes   No   No  Some     $   No   No    2   "0 - 10"     1
3    x4  Yes   No  Yes  Yes  Full     $  Yes   No    1  "10 - 30"     1
4    x5  Yes   No  Yes   No  Full   $$$   No  Yes    0     "> 60"     0
5    x6   No  Yes   No  Yes  Some    $$  Yes  Yes    3   "0 - 10"     1
6    x7   No  Yes   No   No  None     $  Yes   No    2   "0 - 10"     0
7    x8   No   No   No  Yes  Some    $$  Yes  Yes    1   "0 - 10"     1
8    x9   No  Yes  Yes   No  Full     $  Yes   No    2     "> 60"     0
9   x10  Yes  Yes  Yes  Yes  Full   $$$   No  Yes    3  "10 - 30"     0
10  x11   No   No   No   No  None     $   No   No    1   "0 - 10"     0
11  x12  Yes  Yes  Yes  Yes  Full     $   No   No    2  "30 - 60"     1

In [42]:
type(dataset["Fri"][1])

str

test the make unique for ints

In [14]:
intlist = [12 , 1 , 123, 23, 22, 5, 77]
dftest = pd.DataFrame(intlist , columns=["test"])

In [23]:
MakeUniqueInt(dftest , "test")

In [24]:
dftest

   test
0     0
1     0
2     6
3     1
4     1
5     0
6     4

test the plurality value

In [61]:
plurality_value(dataset)

1

test entropy

In [20]:
entropy(dataset)

0.5

1.0

In [85]:
def Remainder(dataset , feature):
    summation = 0
    temp , p = plurality_value(dataset)
    n = dataset.shape[0] - p
    values = np.unique(dataset[feature])
    # print(values)
    for value in values:
        # print(value)
        temp , counter = plurality_value(dataset.loc[dataset[feature] == value]) 
        pk = counter
        nk = len(dataset.loc[dataset[feature] == value]) - p
        # print(f"value is{value} and pk is{pk}")
        # print(summation)
        summation = summation + (((pk + nk) / ( p + n)) * entropy(dataset.loc[dataset[feature] == value]))
    return abs(summation)

In [16]:
dataset.loc[dataset["Goal"] == 1]

     ex  Alt  Bar  Fri  Hun   Pat Price Rain  Res     Type        Est  Goal
0    x1  Yes   No   No  Yes  Some   $$$   No  Yes   French   "0 - 10"     1
2    x3   No  Yes   No   No  Some     $   No   No   Burger   "0 - 10"     1
3    x4  Yes   No  Yes  Yes  Full     $  Yes   No     Thai  "10 - 30"     1
5    x6   No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   "0 - 10"     1
7    x8   No   No   No  Yes  Some    $$  Yes  Yes     Thai   "0 - 10"     1
11  x12  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  "30 - 60"     1

In [86]:
Remainder(dataset , "Est")

0.19390138864850348